<!DOCTYPE HTML>
<html lang="en">
<head>
	{% load staticfiles %}
    {% load humanize %}
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.5.0/css/font-awesome.css' %}">

    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script >
        function showPosition() {
            var latlon = {{prop.latt}} + "," + {{prop.lang}};

            var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
            +latlon+"&zoom=14&size=540x380&sensor=false";
            document.getElementById("googleMap").innerHTML = "<img src='"+img_url+"'>";
        }
        google.maps.event.addDomListener(window, 'load', showPosition);
    </script>

    <script>
        // $("#zoom").addEventListener("change",function(e){
        //     console.log(e);
        // })
        // function changeZoom(e){
        //     console.log(e)
        // }
    </script>

</head>
<body>
		
	    {% include "header.html" %}	
        <div class="container">
            <div class="row container well">
                <form action="/property/search" method="get">
                    <div class="row col-lg-4">
                        <input type="text" name="q">
                        <input type="submit" value="search">
                    </div>
                    <div class="col-lg-offset-8 ">
                        <a class="btn-info" href="../../list-properties/">List Properties</a>
                    </div>    
                </form>
            </div>
        </div>
    <div class="container well">
        <h1>{{prop.ptype}}</h1>
        <div class="row well col-lg-6">
            <div class="col-" id="googleMap" style="width:500px;height:380px;"></div>
        </div>
        <div class="row well col-lg-offset-6">
            <ul>
                <li><label>Location : &nbsp;</label>{{ prop.location }}</li>
                <li><label>Price : &nbsp;</label>{{ prop.price|intcomma }} EGP</li>
                <li><label>Area : &nbsp;</label>{{ prop.area }}</li>
                <li><label>Number of rooms : &nbsp;</label>{{ prop.nrooms }}</li>
                <li><label>Number of toilets : &nbsp;</label>{{ prop.ntoilets }}</li>
                <li><label>Owner name : &nbsp; </label>{{ prop.owner.name }}</li>
                <li><label>Phone number : &nbsp; </label>{{ prop.owner.phone_number }}</li>
                <li><label>Email : &nbsp; </label>{{ prop.owner.email }}</li>
                
            </ul>
            <img src="{% static 'img/'%}{{prop.img}}">
        </div>
    </div>
</body>
</html>