
{% include "header.html" %}
{% load staticfiles %}
{% load humanize %}

{#		<embed type="text/html" src="{% static 'templates/header.html'%}"> #}
		<div class="container">
        <form action="/property/search" method="get">
            <input type="text" name="q">
            <input type="submit" value="search">
        </form>
            {% for prop in props%}
            <div class="row well container">
                <div class="row">
                    <div class="col-lg-2">
                        <h2>{{prop.ptype}}</h2>
                    </div>
                    <div class="col-lg-4">
                        <h3>{{prop.location}}</h3>
                    </div>
                </div>
                <div class="well col-lg-6">
                    <ul>
                        <li><label>Area : &nbsp;</label>{{ prop.area }}</li>
                        <li><label>Price : &nbsp;</label>{{ prop.price|intcomma }} EGP</li>
                    </ul>
                    <a href="../list-property/{{prop.id}}">More details</a>
                </div>
                <div class="well col-lg-offset-6">
                    <img src="{% static 'img/'%}{{prop.img}}">
                </div>
            </div>
            {% endfor %}
            
	    </div>
</body>
</html>